#category-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    align-items: center;
}
#category-modal .modal-content{
    width: 50%;
    margin: 0px auto;
    display: flex !important;
    justify-content: space-between;
}
#category-modal .modal-content form {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#category-modal .modal-content form input{
    width: 49%;
    height: 40px;
    border: 1px solid rgb(0, 38, 119);
    padding-left: 5px;
    margin: 10px 0px;
}
#category-modal .modal-content input::placeholder{
    color: rgb(0, 38, 119);
}
#category-modal .modal-content input:focus{
    outline: none;
}
#category-modal .modal-content button,#category-modal .modal-content form .control-btns input{
    width: 49%;
    height: 40px;
    background-color: rgb(0, 38, 119);
    color: white;
    border-radius: 5px;
}
#category-modal .modal-content form .control-btns{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:768px){
    #category-modal .modal-content input{
        width: 100% !important;
    }
    #category-modal .modal-content button, #category-modal .modal-content form .control-btns{
        width: 100%;
    }
    #category-modal .modal-content button, #category-modal .modal-content form .control-btns input{
        width: 45% !important;
    }
}